amqp==5.0.6
APScheduler==3.7.0
asgiref==3.4.1
backports.entry-points-selectable==1.1.0
billiard==3.6.4.0
celery==5.1.2
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.3
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
cryptography==3.4.7
distlib==0.3.2
Django==3.2.5
django-apscheduler==0.6.0
django-redis==5.0.0
docopt==0.6.2
filelock==3.0.12
idna==3.2
Jinja2==3.0.1
kombu==5.1.0
MarkupSafe==2.0.1
Pillow==8.3.1
pipenv==2021.5.29
pipreqs==0.4.10
platformdirs==2.2.0
prompt-toolkit==3.0.19
pycparser==2.20
PyMySQL==1.0.2
pytz==2021.1
redis==3.5.3
requests==2.26.0
scheduler==0.6.1
six==1.16.0
sqlparse==0.4.1
typeguard==2.12.1
tzlocal==2.1
urllib3==1.26.6
uWSGI==2.0.19.1
vine==5.0.0
virtualenv==20.7.2
virtualenv-clone==0.5.6
wcwidth==0.2.5
yarg==0.1.9
