$common-border: 1px solid #2f86f6;
$common-border-light: 1px solid #eee;
$bg-color:linear-gradient(-90deg, #98c4fd, #2f86f6);
$box-shadow: 0 0 10px #eee;
$border-radius: 8px;
$color-primary:#2f86f6;
[v-cloak] {
  display: none;
}
html,body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

