@import "_main.scss";

.btn-main {
  background-image: $bg-color;
  letter-spacing: 2px;
  color: #fff;
  position: relative;
  width: 140px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  border-radius: 28px;
  text-decoration: none;
  font-size: 14px;
  //box-shadow: $box-shadow;
  transition: opacity .3s;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

}
.nav {
    height: 70px;
    border-bottom: 1px solid #F2F6FC;
    width: 100vw;
    background: #fff;
    z-index: 1;
    display: flex;
    align-items: center;
    .logo_short {
      width: 100px;
      height: auto;
    };
    .logo_long {
      width: 30px;
    }
    .split_v {
      border-right: 1px solid #303133;
      margin: 0px 15px;
      height: 30%;
    }
    .split{
      flex: 1;
    }
    cursor: pointer;
  }
  .nav-border{
      box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
      position: fixed;
  }

  .ball{

  }
  .ball {
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 35px;
    //border: 2px solid #F56C6C;
    background-color: #F56C6C;
    color: white;
    text-align: center;
    letter-spacing: 0px;
    margin: 10px;
    border-radius: 50%;
    position: relative;
    background: radial-gradient(circle at 50% 120%, #F56C6C, #F56C6C 10%, #F56C6C 80%, #F56C6C 100%);
}
.ball:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 0px, #ffffff, rgba(255, 255, 255, 0) 58%);
  -webkit-filter: blur(5px);
  z-index: 2;
}

.ball .shadow {
position: absolute;
width: 100%;
height: 100%;
background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
-webkit-transform: rotateX(90deg) translateZ(-150px);
-moz-transform: rotateX(90deg) translateZ(-150px);
-ms-transform: rotateX(90deg) translateZ(-150px);
-o-transform: rotateX(90deg) translateZ(-150px);
transform: rotateX(90deg) translateZ(-150px);
z-index: -1;
}
.blue{
    background: radial-gradient(circle at 50% 120%, #409EFF, #409EFF 10%, #409EFF 80%, #409EFF 100%);
}
.btn-main1 {
  background-image: $bg-color1;
}
.btn-main2 {
  background-image: $bg-color2;
}
.foot{
  //background:linear-gradient(-180deg, #f7f7f7, #606266);
  background-color: #606266;
  padding-top: 50px;
  padding-bottom: 10px;
  .foot-wrapper{
    line-height: 25px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    .foot-1 {
      display: flex;
      align-items: center;
      margin-right: 20px;
      color: #EBEEF5;
      border: 1px solid #EBEEF5;
      padding: 5px 10px;
      border-radius: 8px;
      cursor: pointer;
    }
    .foot-1:hover{
      color: white;
      border-color: white;
    }
    .foot-about{
      width: 1000px;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      .foot-split {
        margin-left: 40px;
        margin-right: 40px;
        height: 40%;
        border-right: 1px solid white;
      }
      img{
        width: 100px;
      }
    }
  }
}